<nav class="w-full top-0 border-b border-outline-variant bg-surface sticky z-50">
    <div class="flex justify-between items-center px-margin-desktop py-4 max-w-container-max mx-auto">
        <div class="flex items-center gap-12">
            <a href="{% url 'courses:home' %}" class="font-headline-md text-headline-md font-bold text-on-surface">ACADEMIA</a>
            <div class="hidden md:flex items-center gap-8">
                <a class="text-primary font-bold border-b-2 border-primary duration-200 ease-in-out py-1" href="{% url 'courses:home' %}">Courses</a>
                <a class="text-on-surface-variant hover:bg-surface-container-low transition-colors duration-200 ease-in-out py-1 px-2" href="#">About</a>
            </div>
        </div>
        <div class="flex items-center gap-6">
            {% if user.is_authenticated %}
                <span class="text-on-surface-variant font-label-sm text-label-sm">{{ user.username }}</span>
                <a href="{% url 'accounts:logout' %}" class="text-on-surface-variant font-label-sm text-label-sm hover:text-primary transition-all">Logout</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="text-on-surface-variant font-label-sm text-label-sm hover:text-primary transition-all">Login</a>
                <a href="{% url 'accounts:register' %}" class="bg-[#121212] text-white px-6 py-2 text-label-sm font-label-sm hover:bg-primary transition-colors">Register</a>
            {% endif %}
        </div>
    </div>
</nav>