<header class="bg-surface w-full top-0 border-b border-outline-variant fixed z-50" id="main-navbar">
    <div class="flex justify-between items-center px-margin-desktop py-4 max-w-container-max mx-auto">
        <a href="{% url 'courses:home' %}" class="font-headline-md text-headline-md font-bold text-on-surface tracking-tight">ACADEMIA</a>
        <nav class="hidden md:flex items-center gap-8">
            <a class="{% block nav_course_active %}text-primary font-bold border-b-2 border-primary{% endblock %} duration-200 ease-in-out font-body-md text-body-md" href="{% url 'courses:home' %}">Courses</a>
            <a class="text-on-surface-variant hover:bg-surface-container-low transition-colors duration-200 ease-in-out font-body-md text-body-md px-2 py-1" href="#">About</a>
        </nav>
        <div class="flex items-center gap-gutter">
            {% if user.is_authenticated %}
                <a href="{% url 'learning:dashboard' %}" class="text-on-surface-variant font-label-sm text-label-sm hover:text-primary transition-all">Dashboard</a>
                <a href="{% url 'accounts:logout' %}" class="bg-[#121212] text-white px-6 py-2 font-label-sm text-label-sm uppercase tracking-wider hover:bg-primary transition-colors">Logout</a>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="text-on-surface-variant font-label-sm text-label-sm hover:text-primary transition-all">Login</a>
                <a href="{% url 'accounts:register' %}" class="bg-[#121212] text-white px-6 py-2 font-label-sm text-label-sm uppercase tracking-wider hover:bg-primary transition-colors">Register</a>
            {% endif %}
        </div>
    </div>
</header>